<mat-card>
  <form [formGroup]="form" (submit)="onAddPost()" >
    <mat-form-field>
      <input matInput type="text" formControlName="title" name ="title" placeholder="Post Title" required>
      <mat-error *ngIf="form.get('title')?.invalid ">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea rows="6" matInput formControlName="content" name="content" placeholder="Post Content" required></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>
